@media (max-width: 768px) {
  main {
    font-size: small;
  }

  .small-nav label {
    display: inherit !important;
    color: #ec5242;
    font-weight: bold;
    font-style: normal;
    font-size: 2em;
    padding: 10px;
  }

  .small-nav ul li {
    display: block;
  }

  .small-nav ul {
    display: none;
  }

  .small-nav input:checked ~ ul {
    display: block;
  }

  header {
    display: none;
  }

  section.section1 p,
  section.section2 p {
    width: 90%;
  }

  table {
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
  }

  td,
  th {
    padding: 1em !important;
  }

  div.flex-item {
    width: 100%;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #272a31;
}

main {
  padding-top: 4em;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.first-nav {
  width: 100%;
  background-color: #272a31;
  padding: 0.5em;
  display: flex;
  justify-content: flex-end;
}

.first-nav a {
  text-decoration: none;
  color: white;
  padding-right: 1em;
}

.second-nav {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.right-second-nav {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  margin: 1em;
}

.right-second-nav a {
  color: #272a31;
  text-decoration: none;
}

.second-nav img {
  height: 60px;
  margin-left: 1.5em;
}

.small-screen-nav {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.small-nav {
  width: 50%;
  position: sticky;
  top: 0;
  background: #fff;
}

label {
  margin-right: 2em;
}

.small-nav label,
#hamburger {
  display: none;
}

.small-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.small-nav ul li {
  padding: 5px;
}

.small-nav ul li a {
  color: #272a31;
  text-decoration: none;
}

.small-screen-nav img {
  width: 25%;
  height: 60px;
  margin-right: 10px;
}

.section1 {
  background-color: #d3d3d3;
  padding: 2em;
  padding-bottom: 4em;
}

hr {
  width: 5%;
  height: 4px;
  background-color: #ec5242;
  border: none;
}

.section1 h1,
.section2 h1 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.colored-text {
  color: #ec5242;
}

.section1 p,
.section2 p {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 18px;
  padding: 0.5em;
  width: 60%;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

table {
  border: 5px dashed #ec5242;
  justify-content: center;
  align-content: center;
  margin: auto;
  border-collapse: collapse;
  color: #272a31;
}

th,
td {
  border: 1px solid #272a31;
  padding: 2em;
}

th {
  background-color: #969191;
  border: 1px solid #969191;
}

.flex-item {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid #969191;
  margin-bottom: 2em;
}

.rotated-div {
  background-color: #ec5242;
  width: 40px;
  height: 40px;
  margin: auto;
  position: relative;
  bottom: 20px;
  transform: rotate(-45deg);
}

.flex-item h5 {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #d2d2d2;
  width: 100%;
  margin: 0;
}

form {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2em;
}

button {
  color: #fff;
  background-color: #ec5242;
  font-size: 30px;
  border-radius: 4px;
  font-weight: bold;
  border: none;
}

.tickets-footer {
  background-color: #272a31;
  padding: 2em;
  color: #d3d3d3;
  display: flex;
  font-size: larger;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
