@media (max-width: 768px) {
  main {
    font-size: small;
  }

  .small-nav label {
    display: inherit !important;
    color: #ec5242;
    font-weight: bold;
    font-style: normal;
    font-size: 2em;
    padding: 10px;
  }

  .small-nav ul li {
    display: block;
  }

  .small-nav ul {
    display: none;
  }

  .small-nav input:checked ~ ul {
    display: block;
  }

  header {
    display: none;
  }

  section.tickets-selection p,
  section.lunch-selection p {
    width: 90%;
  }

  table {
    width: 100%;
    margin-left: 0;
    box-sizing: border-box;
  }

  td,
  th {
    padding: 1em !important;
  }

  div.flex-item {
    width: 100%;
  }
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: #272a31;
  margin: 0;
  padding: 0;
}

.tickets-selection {
  background-color: #d3d3d3;
  padding: 2em;
  padding-bottom: 4em;
  margin-top: 4em;
}

hr {
  width: 5%;
  height: 4px;
  background-color: #ec5242;
  border: none;
}

.tickets-selection h1,
.lunch-selection h1 {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 0;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.colored-text {
  color: #ec5242;
}

.tickets-selection p,
.lunch-selection p {
  font-size: 18px;
  border: 1px solid black;
  border-radius: 18px;
  padding: 0.5em;
  width: 60%;
  margin: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

table {
  border: 5px dashed #ec5242;
  justify-content: center;
  align-content: center;
  margin: auto;
  border-collapse: collapse;
  color: #272a31;
}

th,
td {
  border: 1px solid #272a31;
  padding: 2em;
}

th {
  background-color: #969191;
}

.flex-item {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 1px solid #969191;
  margin-bottom: 2em;
}

.rotated-div {
  background-color: #ec5242;
  width: 40px;
  height: 40px;
  margin: auto;
  position: relative;
  bottom: 20px;
  transform: rotate(-45deg);
}

.flex-item h5 {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #d3d3d3;
  width: 100%;
  margin: 0;
}

form {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 2em;
}

button {
  color: #fff;
  background-color: #ec5242;
  font-size: 30px;
  border-radius: 4px;
  font-weight: bold;
  border: none;
}

.tickets-footer {
  background-color: #272a31;
  padding: 2em;
  color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  font-family: 'Lato', sans-serif;
  font-size: 1.3em;
}

.tickets-footer img {
  width: 8%;
  margin-right: 5px;
}
