body {
    overflow-x: hidden;
}

main {
    padding-top: 4em;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
   z-index: 1;
}
.first-nav {
    width: 100%;
    background-color: #272a31;
    padding: 0.5em;
    display: flex;
    justify-content: flex-end;
}

.first-nav a {
    text-decoration: none;
    color: #d3d3d3;
    padding-right: 1em;
}

.second-nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: #272a31;
}

.right-second-nav {
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    margin: 1em;
}

.right-second-nav a {
    color: #272a31;
    text-decoration: none;
}

.second-nav img {
    margin-left: 1.5em;
}

.section1 {
    background-image: url("https://www.carbonads.net/hubfs/carbon/images/hero-bg-home.svg");
    background-position: center;
    background-size: initial;
    padding: 0;
}

.home-page {  
    padding: 3em;  
    text-align: left;
    color: #272a31;
    margin-left: 6rem;
}

.home-page h3 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    font-weight: 400;
    color: #ec5242;
}

.home-page h1 {
    font-size: 4em;
    font-family: 'Oswald', sans-serif;
    width: 70%;
    color: #ec5242;
    margin: 0;
    padding: 0;
}

.home-page p {
    width: 50%;
    font-family: 'Lato', sans-serif;
    border: 2px solid white;
    padding: 1em;
    font-size: smaller;
    background-color: #ffffff;
}
#period {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    font-weight: 600;
    padding-bottom: 100px;
}

.section2 {
    background-color: #272a31;
    text-align: center;
    padding: 3em;
}

.main-program {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.program-items {
    width: 12%;
    border: 2px solid #272a31;
    background-color: #535456;
    padding: 1em;
} 

.program-items p {
    color: #d3d3d3;
}

.program-items h3 {
    color: #ec5242;
}

.program-items i {
    font-size: 4em;
    color: #d3d3d3;
}

.all-program-link {
    padding: 3em;
}

.section2 h1 {
    margin-bottom: 0;
}
.all-program-link a,
.section2 h1,
footer h2 {
    color: #d3d3d3;
}

hr {
    width: 5%;
    height: 4px;
    background-color: #ec5242;
    border: none;
}

.section3 {
    padding-top: 2em;
    font-family: 'Lato', sans-serif;
}

.section3 h1 {
    text-align: center;
    
    font-weight: 500;
    margin-bottom: 0;

}

.featured-speakers {
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: auto auto auto;
    grid-gap: 2em;
    margin: auto;
    justify-content: center;
    padding-top: 2em;
    padding-bottom:3em;
}

.speakers img {
    width: 40%;
}
.speakers {
    display: flex;
    
}

.speakers-info {
    margin-left: 1em;
}

.speakers-info span {
    font-style: italic;
    color: #ec5242;
}

.speakers-info h2,
.speakers-info p {
    margin: 0;
}

.speakers-hr {
    position: relative;
    right: 40%;
    height: 2px;
}

.main-footer {
    background-color: #272a31;
    padding: 2em;
    text-align: center;
    padding-bottom: 3em;
}

.partners {
    display: flex;
    justify-content: center;
    align-items: center;
}
.partners img {
    width: 10%;
    background-color: #ffffff;
    margin-right: 1em;
    margin-top: 1em;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #272a31;
    background-color: #d3d3d3;
    padding: 2em;
    font-family: 'Lato', sans-serif;
}

footer img {
    margin-right: 5px;
}





